include ../Header/Header
    link(rel='stylesheet', href='/stylesheets/cssDashboard.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    link(rel='stylesheet', href='/stylesheets/master.css')

    //adding the CanvasJS library
    script(type='text/javascript' src='https://canvasjs.com/assets/script/canvasjs.min.js')
    .masterContainer
        form(style='background-color:white; width:100%')
            h3.text-center Overview
            .form-group
                .form-row
                    .col-md-6
                        //Placing the charts on the web page
                        #piechartPestJS.chart_div
                        #piechartMoldJS.chart_div
                        #piechartFurJS.chart_div
                    .col-md-6
                        #piechartCaJS.chart_div
                        #piechartIntJS.chart_div
                        #piechartMaintJS.chart_div

    script(type='text/javascript').

        //Makes the graphs with canvasJS
        //the data variable is the data taken from the database as a json array
        function canvasJSChart(title, data, graphName){
            var i;
            //console.log(!{pestData}.length);
            var dataPoints = [];
             for(i = 0;i < data.length; i++){
                 //Making a json with the data so that it passes into the CanvasJs function
                 if(data[i].status == 'closed'){
                     //Don't push
                 }
                 else{
                     dataPoints.push({label: data[i][0], y: data[i][1]});
                 }
            }
             //Where the chart is made
            var chart = new CanvasJS.Chart(graphName, {
                    backgroundColor: "transparent",
                    title: {
                        //Makes the title card for the graph
                        text: title
                    },
                    data: [{
                            type: "doughnut",
                            dataPoints: dataPoints
                        }]
                });
            chart.render();
        }

        window.onload = function () {
            canvasJSChart("Mold Tickets",!{moldData},piechartMoldJS);
            canvasJSChart("Pest Tickets",!{pestData},piechartPestJS);
            canvasJSChart("Furniture Tickets",!{furData},piechartFurJS);
            canvasJSChart("Cable Tickets",!{caData},piechartCaJS);
            canvasJSChart("Internet Tickets",!{intData},piechartIntJS);
            canvasJSChart("Maintenance Tickets",!{maintData},piechartMaintJS);
        };

        window.onresize = function () {
            canvasJSChart("Mold Tickets", !{moldData}, piechartMoldJS);
            canvasJSChart("Pest Tickets", !{pestData}, piechartPestJS);
            canvasJSChart("Furniture Tickets", !{furData}, piechartFurJS);
            canvasJSChart("Cable Tickets", !{caData}, piechartCaJS);
            canvasJSChart("Internet Tickets", !{intData}, piechartIntJS);
            canvasJSChart("Maintenance Tickets", !{maintData}, piechartMaintJS);
        };



