include ../Header/Header
    //This one is the old Statistics with Google Graphs
    link(rel='stylesheet', href='/stylesheets/cssDashboard.css')
    // link(rel='stylesheet', href = '/stylesheets/Marg.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')

    script(type='text/javascript').

    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
    script(type='text/javascript').
        // Load google charts
        // script(type = 'text/javascript', src = 'https://www.gstatic.com/charts/loader.js')
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawMoldChart);
        google.charts.setOnLoadCallback(drawPestChart);
        google.charts.setOnLoadCallback(drawFurChart);
        google.charts.setOnLoadCallback(drawIntChart);
        google.charts.setOnLoadCallback(drawCaChart);
        google.charts.setOnLoadCallback(drawMaintChart);

        // Draw the chart and set the chart values
        function drawMoldChart() {
            var data = new google.visualization.DataTable();
            console.log('Hall');
            data.addColumn('string', 'Hall');
            data.addColumn('number', 'Tickets');
            data.addRows(JSON.parse('!{moldData}'));
            // Optional; add a title and set the width and height of the chart
            var options = {
                'title': 'Mold Tickets',
                'pieSliceText': 'value',
                'backgroundColor': 'transparent',
                'sliceVisibilityThreshold': 0,
                'pieHole': 0.4,
                'pieSliceTextStyle': {'color': 'black'}

            };
            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechartMold'));
            chart.draw(data, options);
        }
        function drawPestChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Hall');
            data.addColumn('number', 'Tickets');
            data.addRows(JSON.parse('!{pestData}'));
            // Optional; add a title and set the width and height of the chart
            var options = {
                'title': 'Pest Tickets',
                'pieSliceText': 'value',
                'backgroundColor': 'transparent',
                'sliceVisibilityThreshold': 0,
                'pieHole': 0.4,
                'pieSliceTextStyle': {'color': 'black'}

            };
            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechartPest'));
            chart.draw(data, options);
        }
        function drawFurChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Hall');
            data.addColumn('number', 'Tickets');
            data.addRows(JSON.parse('!{furData}'));
            // Optional; add a title and set the width and height of the chart
            var options = {
                'title': 'Furniture Tickets',
                'pieSliceText': 'value',
                'backgroundColor': 'transparent',
                'sliceVisibilityThreshold': 0,
                'pieHole': 0.4,
                'pieSliceTextStyle': {'color': 'black'}

            };
            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechartFur'));
            chart.draw(data, options);
        }
        function drawIntChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Hall');
            data.addColumn('number', 'Tickets');
            data.addRows(JSON.parse('!{intData}'));
            // Optional; add a title and set the width and height of the chart
            var options = {
                'title': 'Internet Tickets',
                'pieSliceText': 'value',
                'backgroundColor': 'transparent',
                'sliceVisibilityThreshold': 0,
                'pieHole': 0.4,
                'pieSliceTextStyle': {'color': 'black'}

            };
            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechartInt'));
            chart.draw(data, options);
        }
        function drawCaChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Hall');
            data.addColumn('number', 'Tickets');
            data.addRows(JSON.parse('!{caData}'));
            // Optional; add a title and set the width and height of the chart
            var options = {
                'title': 'Cable Tickets',
                'pieSliceText': 'value',
                'backgroundColor': 'transparent',
                'sliceVisibilityThreshold': 0,
                'pieHole': 0.4,
                'pieSliceTextStyle':{ 'color':'black','fontSize':9}
            };
            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechartCa'));
            chart.draw(data, options);
        }
        function drawMaintChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Hall');
            data.addColumn('number', 'Tickets');
            data.addRows(JSON.parse('!{maintData}'));
            // Optional; add a title and set the width and height of the chart
            var options = {
                'title': 'Maintenance Tickets',
                'pieSliceText': 'value',
                'backgroundColor': 'transparent',
                'sliceVisibilityThreshold': 0,
                'pieHole': 0.4,
                'pieSliceTextStyle': {'color': 'black', 'fontSize': 9}
            };
            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechartMaint'));
            chart.draw(data, options);
        }
        window.onresize = function () {
            drawPestChart();
            drawMoldChart();
            drawFurChart();
            drawIntChart();
            drawCaChart();
            drawMaintChart();
        };
    .registration-form
        form(style='background-color:#ffffff; width:100%')
            h3.text-center(style='color:#006633;') Overview
            .row
                .col-md-6
                    #piechartPest.chart_div
                    #piechartMold.chart_div
                    #piechartFur.chart_div
                .col-md-6
                    #piechartCa.chart_div
                    #piechartInt.chart_div
                    #piechartMaint.chart_div

