include ../Header/Header
    //link(rel='stylesheet', href='/stylesheets/master.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    .row
        .col-sm-4
            div(id='menu')
                .registration-form
                    form
                        h3.text-center Links
                        .form-group
                            .form-row
                                .col-xl-3
                                    a.bigOvalbutton2(href='',target="_blank") Maxient
                                    a.bigOvalbutton2(href='http://moodle.selu.edu', target="_blank") Moodle

            div(id='submenu')
                .registration-form
                    form(style='background-color:palegoldenrod;', action='/engagement/create', method='post')
                        h3.text-center Select building to start Engagement Round
                        .form-group
                            .form-row
                                .col-xl-3
                                    label.col-form-label
                                .col-xl-6
                                    select.form-control.item(name='building', disabled=disabled, style='background-color: ivory; box-shadow: 2px 2px 4px #000000; ')
                                        option(selected = (building == "Ascension")) Ascension
                                        option(selected = (building == "Cardinal Newman")) Cardinal Newman
                                        option(selected = (building == "Greek Village")) Greek Village
                                        option(selected = (building == "Hammond")) Hammond
                                        option(selected = (building == "Livingston")) Livingston
                                        option(selected = (building == "Louisiana")) Louisiana
                                        option(selected = (building == "Pride")) Pride
                                        option(selected = (building == "Southeastern Oaks")) Southeastern Oaks
                                        option(selected = (building == "St. Tammany")) St. Tammany
                                        option(selected = (building == "Tangipahoa")) Tangipahoa
                                        option(selected = (building == "Taylor")) Taylor
                                        option(selected = (building == "Twelve Oaks")) Twelve Oaks
                                        option(selected = (building == "Village M")) Village M
                                        option(selected = (building == "Washington")) Washington
                        .form-group
                            button.bigOvalbutton(type='submit') Continue
        .col-sm-8
            div(id='main_content')
                .registration-form2
                    form(style='background-color:rodpalegolden;')
                        h2.text-center Important Updates
            div(id='sub_content')
                .registration-form2
                    form(style='background-color:palegoldenrod; color: black')
                        .update-text
                            p.text-left 10/9/2019 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut posuere lacus. Proin a eros quam. Quisque id odio ipsum. Nullam et enim ac ante porttitor pharetra. Aliquam cursus luctus ipsum at tempor. Ut vehicula vitae ex at ornare. Nullam pellentesque semper nibh, eget faucibus arcu bibendum et. Maecenas in ullamcorper enim, ac tincidunt odio. Nulla est tortor, cursus ac nisl et, gravida scelerisque felis. Etiam vitae felis magna. Proin hendrerit dui eget cursus pretium. Etiam mattis neque vitae laoreet eleifend.
                            hr
                            p.text-left 10/8/2019 - This is a test update

