<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            font-size: 1rem;
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 2rem;
        }
        .banner {
            background-color: #e5e5e5;
            padding: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="banner">
    <h1>Thank you {{fname}}</h1>
    <h2>Your {{ticket}} form has been submitted</h2>
    <h2>Below is the information given to us:</h2>
    <table border="1px" cellpadding="1px" cellspacing="1px">
        <tr>
            <td>First Name:</td>
            <td>{{fname}}</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>{{lname}}</td>
        </tr>
        <tr>
            <td>W-Number:</td>
            <td>{{wnum}}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{email}}</td>
        </tr>
        <tr>
            <td>Subject:</td>
            <td>{{sub}}</td>
        </tr>
        <tr>
            <td>Problem:</td>
            <td>{{problem}}</td>
        </tr>
    </table>
</div>

</body>
</html>