<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            font-size: 1rem;
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 2rem;
        }

        .banner {
            background-color: #e5e5e5;
            padding: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="banner">
    <h1>Thank you {{Primary_Ra}}</h1>
    <h2>Your Health and Safety Form has been submitted</h2>
    <h2>Below is the information given to us:</h2>
    <table border="1px" cellpadding="1px" cellspacing="1px">
        <tr>
            <td>First RA Name:</td>
            <td>{{Primary_Ra}}</td>
        </tr>
        <tr>
            <td>Second RA Name:</td>
            <td>{{Secondary_Ra}}</td>
        </tr>
        <tr>
            <td>Building:</td>
            <td>{{Building}}</td>
        </tr>
        <tr>
            <td>Floor Number:</td>
            <td>{{Floor_Number}}</td>
        </tr>
        <tr>
            <td colspan="2" bgcolor="black" style="color:white">Per Room information</td>
        </tr>
        {{#each Rooms_Info}}
            <tr>
                <td>Room {{Rooms_Info.Room_Number}}:</td>
                <td>{{Rooms_Info.Room_Problem}}</td>
            </tr>
        {{/each}}
    </table>
</div>
<tr>
    <td colspan="2">.hbs should be able to handle loops, so we can pass the entire array and loop through it for the
        floor
    </td>
</tr>
<tr>
    <td colspan="2">Just have to figure out how the JSON is structured when getting it from the database</td>
</tr>

</body>
</html>