<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 2rem;
        }
        h2 {
             font-size: 1.5rem;
         }
        .banner {
            background-color: #e5ba40;
            padding: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="banner">
    <h1>Your message:</h1>
    <h2>{{message}}</h2>
    <p>on:</p>
    <h3>{{host}}</h3>
</div>

</body>
</html>