<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            border-color: black;
        }
        td, th {
            font-size: 1rem;
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 2rem;
        }
        .banner {
            padding: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="banner">
    <h1>Thank you {{fname}}</h1>
    <h2>Your <u>{{ticket}}</u> ticket has been submitted</h2>
    <h2>Below is the information given to us:</h2>
    <table border="2px" cellpadding="1px" cellspacing="1px">
        <tr>
            <td>Ticket ID:</td>
            <td>{{ticket_id}}</td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td>{{fname}}</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>{{lname}}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{email}}</td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td>{{phone}}</td>
        </tr>
        <tr>
            <td>Building:</td>
            <td>{{building}}</td>
        </tr>
        <tr>
            <td>Room Number:</td>
            <td>{{rnum}}</td>
        </tr>
        <tr>
            <td>Problem:</td>
            <td>{{prob}}</td>
        </tr>
    </table>
</div>

</body>
</html>