include Header/Header
    //link(rel='stylesheet', href = '/stylesheets/Marg.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    .registration-form
        #toast
        form(action='/inspection/discrepencies/' + hsid, method='POST')

            h3.text-center Report Form
            h5.text-center Room Number:
            .form-group
                input.form-control.item(type='text', placeholder='Room', name='room', style=';padding: 10px 20px;margin: 0px 0px 25px;')

            h5.text-center Category:
            .form-group
                    select.form-control.item(name='category',style='')
                        each m in MaintenanceList
                            option(selected = (category == m)) #{m}
            h5.text-center Problems:
            .form-group
                textarea.form-control.item(type='text', placeholder='Problem', name='problem', style='padding: 10px 20px;height:25%')

            .form-group

                input.bigOvalbutton2(onclick='history.back()',hidden=disabled,value='Go Back', style="margin-right: 30px; background-color: grey")

                a.bigOvalbutton2(href='/',hidden=disabled, style="margin-right: 30px; background-color: red") End Room Inspections

                button.bigOvalbutton2(type='submit',hidden=disabled, style="", onclick="showToast('Successfully Submitted')") New Write up
    script.
        function showToast(text) {
            var x = document.getElementById("toast");
            x.classList.add("show");
            x.innerHTML = text;
            setTimeout(function () {
                x.classList.remove("show");
            }, 3500);
        }


