include Header/Header
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')|
        link(rel='stylesheet', href='/stylesheets/master.css')
        .registration-form
            form(action='/engagement/create', method='post')
                h3.h3Text Select your building and press continue to start.
                .form-group
                    .form-row
                        .col-xl-3
                            label.col-form-label
                        .col-xl-6
                            select.form-control.item(name='building', disabled=disabled, style='box-shadow: 1px 1px 1px')
                                option(selected = (building == "Ascension")) Ascension
                                option(selected = (building == "Cardinal Newman")) Cardinal Newman
                                option(selected = (building == "Greek Village")) Greek Village
                                option(selected = (building == "Hammond")) Hammond
                                option(selected = (building == "Livingston")) Livingston
                                option(selected = (building == "Louisiana")) Louisiana
                                option(selected = (building == "Pride")) Pride
                                option(selected = (building == "Southeastern Oaks")) Southeastern Oaks
                                option(selected = (building == "St. Tammany")) St. Tammany
                                option(selected = (building == "Tangipahoa")) Tangipahoa
                                option(selected = (building == "Taylor")) Taylor
                                option(selected = (building == "Twelve Oaks")) Twelve Oaks
                                option(selected = (building == "Village M")) Village M
                                option(selected = (building == "Washington")) Washington
                .form-group
                    button.bigOvalbutton(style='width: 30%') Continue
