include Header/Header
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css')
    link(rel='stylesheet', href = '/stylesheets/master.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    .registration-form
        #toast
        form(style='background-color: palegoldenrod;', action='/engagement/edit/'+ er_id, method='POST')
            h3.text-center #{title} Engagement Round

            .form-group
                .form-row
                    .col-xl-2
                        label.col-form-label Round 1
                    .col-xl-3
                        #datetimepicker1.input-group.date(data-target-input='nearest')
                            input.form-control.datetimepicker-input(name='time1',disabled=disabled,type='text',value=time1, data-target='#datetimepicker1')
                            .input-group-append(data-target='#datetimepicker1', data-toggle='datetimepicker')
                                .input-group-text
                                    i.fa.fa-clock-o
                        script(type='text/javascript').
                            $(function () {
                                $('#datetimepicker1').datetimepicker({
                                    format: 'LT'
                                });
                            });
                    .col-xl-2
                        label.col-form-label Comments:
                    .col-xl-4
                        textarea.form-control(name='round1',disabled=disabled, value=round1, style=' ')
                            | #{round1}

            .form-group
                .form-row
                    .col-xl-2
                        label.col-form-label Round 2
                    .col-xl-3
                        #datetimepicker2.input-group.date(data-target-input='nearest')
                            input.form-control.datetimepicker-input(name='time2',value=time2,disabled=disabled,type='text', data-target='#datetimepicker2')
                            .input-group-append(data-target='#datetimepicker2', data-toggle='datetimepicker')
                                .input-group-text
                                    i.fa.fa-clock-o
                        script(type='text/javascript').
                            $(function () {
                                $('#datetimepicker2').datetimepicker({
                                    format: 'LT'
                                });
                            });

                    .col-xl-2
                        label.col-form-label Comments:
                    .col-xl-4
                        textarea.form-control(name='round2', value=round2,disabled=disabled)
                            | #{round2}


            .form-group
                .form-row
                    .col-xl-2
                        label.col-form-label Round 3
                    .col-xl-3
                        #datetimepicker3.input-group.date(data-target-input='nearest')
                            input.form-control.datetimepicker-input(name='time3',value=time3,type='text',disabled=disabled, data-target='#datetimepicker3')
                            .input-group-append(data-target='#datetimepicker3', data-toggle='datetimepicker')
                                .input-group-text
                                    i.fa.fa-clock-o
                        script(type='text/javascript').
                            $(function () {
                                $('#datetimepicker3').datetimepicker({
                                    format: 'LT'
                                });
                            });

                    .col-xl-2
                        label.col-form-label Comments:
                    .col-xl-4
                        textarea.form-control(name='round3', value=round3,disabled=disabled)
                            | #{round3}

            .form-group
                label Click on button to select yes or no:
                .form-row
                    .col-xl-4
                        label.col-form-label(style='text-right') Interior Lights Work 
                    .col-xl-2
                        input#cb3.tgl.tgl-skewed(name='intLights', value=1, disabled=disabled, checked=(intLights===1), type="checkbox")
                        label.tgl-btn(data-tg-off = "No", data-tg-on = "Yes", for = "cb3")
                    .col-xl-4
                        label.col-form-label Exterior Lights Work
                    .col-xl-2
                        input#extLights.tgl.tgl-skewed(name='extLights', value=1, disabled=disabled, checked=(extLights===1), type="checkbox")
                        label.tgl-btn(data-tg-off = "No", data-tg-on = "Yes", for = "extLights")
            .form-group
                .form-row
                    .col-xl-4
                        label.col-form-label Parking Lot Lights Working
                    .col-xl-2
                        input#cb5.tgl.tgl-skewed(name='parLights', value=1,disabled=disabled, checked=(parLights===1), type="checkbox")
                        label.tgl-btn(data-tg-off = "No", data-tg-on = "Yes", for = "cb5")
                    .col-xl-4
                        label.col-form-label Out Dated Signs Removed
                    .col-xl-2
                        input#cb6.tgl.tgl-skewed(name='signs', value=1,disabled=disabled, checked=(signs===1), type="checkbox")
                        label.tgl-btn(data-tg-off = "No", data-tg-on = "Yes", for = "cb6")
            .form-group
                .form-row
                    .col-xl-4
                        label.col-form-label All Doors Closed Properly
                    .col-xl-2
                        input#cb7.tgl.tgl-skewed(name='doors', value=1,disabled=disabled, checked=(doors===1), type="checkbox")
                        label.tgl-btn(data-tg-off = "No", data-tg-on = "Yes", for = "cb7")
                    .col-xl-4
                        label.col-form-label Common Areas/Lobby Clean and Secure
                    .col-xl-2
                        input#cb8.tgl.tgl-skewed(name='commonAreaSec', value=1,disabled=disabled, checked=(commonAreaSec===1), type="checkbox")
                        label.tgl-btn(data-tg-off = "No", data-tg-on = "Yes", for = "cb8")
            .form-group
                .form-row
                    .col-xl-4
                        label.col-form-label Common Areas/Lobby Furniture and Equipment Accounted For
                    .col-xl-2
                        input#cb9.tgl.tgl-skewed(name='commonAreaAcc', value=1,disabled=disabled, checked=(commonAreaAcc===1), type="checkbox")
                        label.tgl-btn(data-tg-off = "No", data-tg-on = "Yes", for = "cb9")
                    .col-xl-4
                        label.col-form-label Elevator Clean and Working Properly
                    .col-xl-2
                        input#cb10.tgl.tgl-skewed(name='elevator', value=1,disabled=disabled, checked=(elevator===1), type="checkbox")
                        label.tgl-btn(data-tg-off = "No", data-tg-on = "Yes", for = "cb10")
            .form-group
                .form-row
                    .col-xl-4
                        label.col-form-label Trash Rooms Clean and Secure
                    .col-xl-2
                        input#cb11.tgl.tgl-skewed(name='trashRoom', value=1,disabled=disabled, checked=(trashRoom===1), type="checkbox")
                        label.tgl-btn(data-tg-off = "No", data-tg-on = "Yes", for = "cb11")
                    .col-xl-4
                        label.col-form-label Maintenance Work Order Submitted?
                    .col-xl-2
                        input#cb12.tgl.tgl-skewed(name='Maintenance', value=1,disabled=disabled, checked=(Maintenance===1), type="checkbox")
                        label.tgl-btn(data-tg-off = "No", data-tg-on = "Yes", for = "cb12")
            .form-group
                label Additional Comments:
                textarea.form-control(name='addComments', value=addComments, disabled=disabled)
                    | #{addComments}

            .form-group
                button.bigOvalbutton1(href='javascript:history.back()',hidden=disabled) Go Back
                button.bigOvalbutton2(type='submit', hidden=disabled) Submit

    script.
        function showToast(text) {
            var x = document.getElementById("toast");
            x.classList.add("show");
            x.innerHTML = text;
            setTimeout(function () {
                x.classList.remove("show");
            }, 3500);
        }


