include Header/Header
.registration-form
    .tableContainer
        .card-header
            h2 Past Engagement Rounds
        .card-body
            #toast
            span
                label.filter Field:
                select#filter-field
                    option(value='fname') First Name
                    option(value='lname') Last Name
                    option(value='building') Building
                    option(value='date') Date
            span(hidden)
                label.filter Type:
                select#filter-type
                    option(value='like') like
                    option(value='!=') not like
            span
                label.filter Value:
                input#filter-value(type='text' placeholder='value to filter')
            span.rightCorner
                button(onclick = "changeView()" style = "width: 50%; float: right") View
            #tabularTable

    script.
        var selectedData, selectedDataID, selectedDate;
        function defineTable() {
            var backRoundColor;
            var json = JSON.parse("#{tabularTable}".replace(/&quot;/g, '"'));
            var table = new Tabulator("#TabularTable", {
                data: json,
                layout: "fitColumns",
                clipboard: true,
                clipboardPasteAction: "replace",
                persistentSort: true, //The layout of the table persists over the session
                selectable: true, //make rows selectable
                selectable: 1, //Sets the maximum rows selected to one before selecting another.
                pagination: "local",
                paginationSize: 10,
                paginationSizeSelector: [5, 10, 20, 50],//Pagination values for selection.
                columns: [
                    {title: "First Name", field: "fname", formatter: "textarea"},
                    {title: "Last Name", field: "lname", formatter: "textarea"},
                    {title: "Building", field: "building", formatter: "textarea"},
                    {title: "Date", field: "date", formatter: "textarea"},
                ],
                rowSelectionChanged: function (data, rows) {
                    //update selected row counter on selection change
                    $("#select-stats span").text(data.length);
                },
                rowSelected: function (row) {
                    backRoundColor = row.getElement().style.backgroundColor;
                    row.getElement().style.border = "2px solid black";
                    selectedData = table.getSelectedData(); //get array of currently selected data.
                    selectedDataID = selectedData[0].er_id;//gets Id of the person
                },
                //Setting the border color back to normal after giving the user input that they have selected the row.
                rowDeselected: function (row) {
                    row.getElement().style.border = "";
                },
                rowDblClick: function (e, row) {
                    changeEdit();
                    //location.href = ('/engagement/edit/' + selectedDataID);
                    //e - the click event object
                    //row - row component
                },
            });

            //Trigger setFilter function with correct parameters
            function updateFilter() {

                var filter = $("#filter-field").val() == "function" ? customFilter : $("#filter-field").val();

                if ($("#filter-field").val() == "function") {
                    $("#filter-type").prop("disabled", true);
                    $("#filter-value").prop("disabled", true);
                } else {
                    $("#filter-type").prop("disabled", false);
                    $("#filter-value").prop("disabled", false);
                }

                table.setFilter(filter, $("#filter-type").val(), $("#filter-value").val());
            }

            //Update filters on value change
            $("#filter-field, #filter-type").change(updateFilter);
            $("#filter-value").keyup(updateFilter);

            //Clear filters on "Clear Filters" button click
            $("#filter-clear").click(function () {
                $("#filter-field").val("");
                $("#filter-type").val("=");
                $("#filter-value").val("");

                table.clearFilter();
            });
        }
        //Currently not used but should be looked into.
        function changeEdit() {
            if (selectedDataID == null) {
                showToast("It seems you have selected no item. Please Select an item before trying to continue.")
                //alert("It seems you have selected no item. Please Select an item before trying to continue.")
            } else {
                location.href = ('/engagement/edit/' + selectedDataID);
            }
        }

        function changeView() {
            if (selectedDataID == null) {
                showToast("It seems you have selected no item. Please Select item before trying to continue.")
                //alert("It seems you have selected no item. Please Select item before trying to continue.")
            } else {
                location.href = ('/engagement/view/' + selectedDataID);
            }
        }

        function showToast(text) {
            var x = document.getElementById("toast");
            x.classList.add("show");
            x.innerHTML = text;
            setTimeout(function () {
                x.classList.remove("show");
            }, 3500);
        }

        window.onload = function () {
            defineTable()
        };
