include Header/Header
    link(rel='stylesheet', href='/stylesheets/master.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    .registration-form
        #toast
        form(action='/inspection/', method='post')
            h3.text-center(style='color:#006633;') Start Inspection
            h5.text-center(style='color:black;') Resident Assistant 1
            .form-group
                select.form-control.item(name='ra1')
                    each item in userlist
                        option=item.fname +' ' +item.lname
            h5.text-center Resident Assistant 2
            .form-group
                select.form-control.item(name='ra2')
                    //Needs to be made to not have the same person appear as the first option.
                    each item2 in secondList
                        option=item2.fname + ' ' + item2.lname
            h5.text-center Building:
            .form-group
                select.form-control.item(name='building')
                    each b in AllBuildings
                        option(selected = (building == b)) #{b}
            h5.text-center Floor Number:
            .form-group
                select.form-control.item(name='floor')
                    option 1
                    option 2
                    option 3
                    option 4
            .form-group
                input.bigOvalbutton1(onclick='history.back()',value='Go Back')
                button.bigOvalbutton2(type='submit', onclick="showToast('Successfully Submitted')") Start
    script.
        function showToast(text) {
            var x = document.getElementById("toast");
            x.classList.add("show");
            x.innerHTML = text;
            setTimeout(function () {
                x.classList.remove("show");
            }, 3000);
        }