link(href='https://unpkg.com/tabulator-tables@4.4.1/dist/css/tabulator.min.css' rel='stylesheet')
script(type='text/javascript' src='https://unpkg.com/tabulator-tables@4.4.1/dist/js/tabulator.min.js')
include Header/Header
.registration-form
    .tableContainer
        .card-header
            h3 Settings
        .cord-body
            #toast
            button(onclick= 'sendJSON();' method= 'POST' action='/settings/submit') Submit
            #tabularTable


    script.
        var dataTable,dataArray;
        function createTable() {
            var json = JSON.parse("#{tabularTable}".replace(/&quot;/g, '"'));
            var table = new Tabulator("#TabularTable", {
                data: json,
                layout: "fitColumns",
                clipboard: true,
                clipboardPasteAction: "replace",
                persistentSort: true, // I like this, lets you go to a different page and come back
                // pagination: "local",
                // paginationSize: 5,
                // paginationSizeSelector: [5, 10, 20],
                columns: [
                    {title: "Key", field: "settings_key", formatter: "textarea"},
                    {title: "Value", field: "value", editor:true, formatter: "textarea"},
                ],
                cellEdited:function(row) {//Called when ever a cell is edited.
                    //Making and setting all the data in the table to variables in preparation to be entered into the database.
                    dataTable = table.getData(), defaultURL = dataTable[0].value, greekURL = dataTable[1].value,
                    housingPass = dataTable[2].value, inspectionCat = dataTable[3].value, staffCat = dataTable[4].value,
                    ticketCat = dataTable[5].value;
                    dataArray = [defaultURL,greekURL,housingPass,inspectionCat,staffCat,ticketCat]
                    console.log(table.getData());
                }
            });
        }

        function sendJSON() {
            var Xml = new XMLHttpRequest();
            var url = "settings/submit";
            Xml.open("POST", url, true);
            Xml.setRequestHeader("Content-Type", "application/json");
            Xml.onreadystatechange = function () {
                if (Xml.readyState === 4 && Xml.status === 200) {
                    var json = JSON.parse(Xml.responseText);
                }
            };
            if(JSON.stringify(dataTable) == null || dataTable == null){
                showToast("Please try editing the table before submitting.");
                //alert("Please try editing the table before submitting.");
            }
            else{
                Xml.send(JSON.stringify(dataTable));
                dataTable = null;
                showToast("You have submitted your edits successfully.");
                //alert("You have submitted your edits successfully.");
            }
        }
        function showToast(text) {
            var x = document.getElementById("toast");
            x.classList.add("show");
            x.innerHTML = text;
            setTimeout(function () {
                x.classList.remove("show");
            }, 3000);
        }
        window.onload = function () {
            createTable();
        }