include Header/Header
    link(rel='stylesheet', href='/stylesheets/master.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    .registration-form
        #toast
        form( method='POST')
            h3.text-center(style='color:#006633;') #{title} Ticket
            .form-group
                .form-row
                    .col-xl-2
                        label.col-form-label(for=fname) First Name:
                    .col-xl-4
                        input.form-control.item(type='input',name='fname', disabled=disabled ,placeholder='First Name', value=item.fname)
                    .col-xl-2
                        label.col-form-label(for=lname) Last Name:
                    .col-xl-4
                        input.form-control.item(type='text',name='lname', disabled=disabled, placeholder='Last Name', value=item.lname)
            .form-group
                .form-row
                    .col-xl-2
                        label.col-form-label(for=email) Email:
                    .col-xl-4
                        input.form-control.item(type='email', name='email', disabled=disabled, required='', placeholder='Email', value=item.email, inputmode='email')
                    .col-xl-2
                        label.col-form-label(for=phone) Contact:
                    .col-xl-4
                        input.form-control.item(type='text',name='phone', disabled=disabled, placeholder='(xxx) xxx-xxxx', value=item.phone)
            .form-group
                .form-row
                    .col-xl-2
                        label.col-form-label(for=building, disabled=disabled) Building:
                    .col-xl-4
                        select.form-control.item(name='building',disabled=disabled)
                            each b in AllBuildings
                                option(selected = (item.building == b)) #{b}
                    .col-xl-2
                        label.col-form-label(for=room,disabled=disabled) Room:
                    .col-xl-4
                        input.form-control.item(type='text',name='room',disabled=disabled, value=item.room,placeholder='Room')
            .form-group
                .form-row
                    .col-xl-2
                        label.col-form-label(for=category) Category:
                    .col-xl-4
                        select.form-control.item(name='category',disabled=disabled)
                            each m in MaintenanceList
                                option(selected = (item.category == m)) #{m}
                    .col-xl-2
                        label.col-form-label Status:
                    .col-xl-4
                        select.form-control.item(name='status',disabled=disabled)
                            option(selected = (item.status == 'Open')) Open
                            option(selected = (item.status == 'Closed')) Closed
            if (session.role === 'Facilities') || (session.role === 'Admin') || (session.role === 'Pro-Staff')
                .form-group
                    .form-row
                        .col-xl-5(style="text-align: right; margin-right: 30px;")
                            label.col-form-label Priority:
                        .col-xl-3
                            select.form-control.item(name='priority',disabled=disabled)
                                each val in ['Low','Medium','High']
                                    option(selected = (item.priority == val)) #{val}
                .form-group
                    .form-row
                        .col-xl-2
                            label.col-form-label(for=problem) Problem:
                        .col-xl-9
                            textarea.form-control(type='text',name='problem', disabled=disabled, placeholder='Problem')
                                | #{item.problem}
                .form-group
                    - if(picture > 2)
                        a.btn.btn-primary.btn-block.create-account(href='', data-toggle='modal', data-target='#myModal',style='background-color: #ddd69b;') Show image
                            #myModal.modal.fade(role='dialog')
                                .modal-dialog
                                    .modal-content
                                        .modal-body
                                            img.img-responsive(height="80%", src='data:image/png;base64,'+item.image)

            .form-group
                    button.bigOvalbutton1(href='javascript:history.back()') Go Back
                    input#file.inputfile(type='file', name='file', data-multiple-caption='{count} files selected', multiple='')
                    label#inLabel.bigOvalbutton2(for='file', style='margin-right: 15%; background-color: red') Choose a file
                    button.bigOvalbutton2(type='submit',hidden=disabled, onclick="showToast('Successfully Submitted')") Submit
        script.
            $(document).ready(function () {
                $("#file").on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    console.log(fileName);
                    if(fileName == ""){
                        fileName = "Choose a file";
                    }
                    $(this).siblings("#inLabel").addClass("selected").html(fileName);
                    console.log("Changed");
                });
            });

            function showToast(text) {
                var x = document.getElementById("toast");
                x.classList.add("show");
                x.innerHTML = text;
                setTimeout(function () {
                    x.classList.remove("show");
                }, 3000);
            }
