link(href='https://unpkg.com/tabulator-tables@4.4.1/dist/css/tabulator.min.css' rel='stylesheet')
script(type='text/javascript' src='https://unpkg.com/tabulator-tables@4.4.1/dist/js/tabulator.min.js')
include Header/Header
    .registration-form
        .tableContainer
            .card-header
                h2 Tickets
            .card-body
                #toast
                span
                    label.filter Field:
                    select#filter-field
                        option(value='building') Building
                        option(value='ticket_id') Ticket ID
                        option(value='category') Category
                        option(value='problem') Problem
                        option(value='priority') Priority
                        option(value='status') Status
                span(hidden)
                    label.filter Type:
                    select#filter-type
                        option(value='like') like
                        option(value='!=') not like
                span
                    label.filter Value:
                    input#filter-value(type='text' placeholder='value to filter')
                if(session.role === 'Admin' || session.role === 'Pro-Staff')
                    span.rightCorner
                        button(onclick = "changeEdit()" style='width: 50%; float: right') Edit
                    #TabularTable
                else
                    script.
                        showToast("Oops looks like something went wrong, this feature may not be working right now.");
                    //span.rightCorner
                    //    button(onclick = "changeView()" style='width: 50%; float: right') View
                    //#TabularTable2 //See table for more info.


        script.
            var selectedData, selectedDataID;
            function defineTable() {
                var backRoundColor;
                var json = JSON.parse("#{tabularTable}".replace(/&quot;/g, '"'));
                var table = new Tabulator("#TabularTable", {
                    data: json,
                    layout: "fitColumns",
                    //textSize: 24, //Doesn't work here, may need to be done in css. Documentation says something about SASS. http://tabulator.info/docs/4.4/style
                    clipboard: true,
                    clipboardPasteAction: "replace",
                    persistentSort: true, // I like this, lets you go to a different page and come back
                    selectable:true, //make rows selectable
                    selectable:1, //Sets the maximum rows selected to one before selecting another.
                    pagination: "local",
                    paginationSize: 5,
                    paginationSizeSelector: [5, 10, 20],
                    rowFormatter: function (row) {
                        if (row.getData().priority == "Low") {
                            row.getElement().style.backgroundColor = "#9ADBAD";
                        } else if (row.getData().priority == "Medium") {
                            row.getElement().style.backgroundColor = "#FFF1B2";
                        } else if (row.getData().priority == "High") {
                            row.getElement().style.backgroundColor = "#FFBEB2";
                        } else {
                            row.getElement().style.backgroundColor = "#A9A9A9";
                        }
                    },
                    columns: [
                        {title: "Ticket ID", field: "ticket_id", formatter: "textarea"},
                        {title: "Building", field: "building", formatter: "textarea"},
                        {title: "Category", field: "category", formatter: "textarea"},
                        {title: "Problem", field: "problem", formatter: "textarea"},
                        {title: "Priority", field: "priority", formatter: "textarea"},
                        {title: "Status", field: "status", formatter: "textarea"},
                    ],
                    rowSelectionChanged: function (data, rows) {
                        //update selected row counter on selection change
                        $("#select-stats span").text(data.length);
                    },
                    rowSelected: function (row) {
                        backRoundColor = row.getElement().style.backgroundColor;
                        row.getElement().style.border = "2px solid black";
                        selectedData = table.getSelectedData(); //get array of currently selected data.
                        selectedDataID = selectedData[0].ticket_id;//gets the ticket ID
                    },
                    //Setting the border color back to normal after giving the user input that they have selected the row.
                    rowDeselected: function (row) {
                        row.getElement().style.border = "";
                    },
                    rowDblClick: function (e, row) {
                        location.href = ('/ticket/ticketedit/' + selectedDataID);
                        //e - the click event object
                        //row - row component
                    },
                });


                //For Non Admin Sessions
                //Needs to be fixed before using. Look into compiling the correct table in the backend so you only need one table.

                // var table = new Tabulator("#TabularTable2", {
                //     data: json,
                //     layout: "fitColumns",
                //     clipboard: true,//Can copy and paste data from the column
                //     clipboardPasteAction: "replace",
                //     persistentSort: true, //The layout of the table persists over the session
                //     selectable: true, //make rows selectable
                //     selectable: 1, //Sets the maximum rows selected to one before selecting another.
                //     pagination: "local",
                //     paginationSize: 5,
                //     paginationSizeSelector: [5, 10, 20],//Pagination values for selection.
                //     rowFormatter: function (row) {
                //         if (row.getData().priority == "Low") {
                //             row.getElement().style.backgroundColor = "#4BD762";
                //         } else if (row.getData().priority == "Medium") {
                //             row.getElement().style.backgroundColor = "#FFE366";
                //         } else if (row.getData().priority == "High") {
                //             row.getElement().style.backgroundColor = "#FF7B65";
                //         } else {
                //             row.getElement().style.backgroundColor = "#A9A9A9";
                //         }
                //     },
                //     columns: [
                //         {title: "Ticket ID", field: "ticket_id", formatter: "textarea"},
                //         {title: "Building", field: "building", formatter: "textarea"},
                //         {title: "Category", field: "category", formatter: "textarea"},
                //         {title: "Problem", field: "problem", formatter: "textarea"},
                //         {title: "Priority", field: "priority", formatter: "textarea"},
                //         {title: "Status", field: "status", formatter: "textarea"},
                //     ],
                //     rowSelectionChanged: function (data, rows) {
                //         //update selected row counter on selection change
                //         $("#select-stats span").text(data.length);
                //     },
                //     rowSelected: function (row) {
                //         backRoundColor = row.getElement().style.backgroundColor;
                //         row.getElement().style.border = "2px solid black";
                //         selectedData = table.getSelectedData(); //get array of currently selected data.
                //         selectedDataID = selectedData[0].ticket_id;//gets the ticket ID
                //     },
                //     //Setting the border color back to normal after giving the user input that they have selected the row.
                //     rowDeselected: function (row) {
                //         row.getElement().style.border = "";
                //     },
                //     rowDblClick: function (e, row) {
                //         location.href = ('/ticket/ticketView/' + selectedDataID);
                //         //e - the click event object
                //         //row - row component
                //     },
                //     rowDblTap: function (e, row) {//Attempts to get it to work on mobile.
                //         //Doesn't seem to be calling the function in Tabulator, Requires investigation.
                //         console.log("Double Click");
                //         location.href = ('/ticket/ticketView/' + selectedDataID);
                //         //e - the tap event object
                //         //row - row component
                //     },
                // });

                function updateFilter() {
                    var filter = $("#filter-field").val() == "function" ? customFilter : $("#filter-field").val();
                    if ($("#filter-field").val() == "function") {
                        $("#filter-type").prop("disabled", true);
                        $("#filter-value").prop("disabled", true);
                    } else {
                        $("#filter-type").prop("disabled", false);
                        $("#filter-value").prop("disabled", false);
                    }
                    table.setFilter(filter, $("#filter-type").val(), $("#filter-value").val());
                }
                //Update filters on value change
                $("#filter-field, #filter-type").change(updateFilter);
                $("#filter-value").keyup(updateFilter);
                //Clear filters on "Clear Filters" button click
                $("#filter-clear").click(function () {
                    $("#filter-field").val("");
                    $("#filter-type").val("=");
                    $("#filter-value").val("");

                    table.clearFilter();
                });
            }
            function changeEdit(){
                if(selectedDataID == null){
                    showToast("It seems you have selected no ticket. Please Select a ticket before trying to continue.")
                    //alert("It seems you have selected no ticket. Please Select a ticket before trying to continue.")
                }
                else{
                    location.href = ('/ticket/ticketedit/' + selectedDataID);
                }
            }

            function changeView(){
                if (selectedDataID == null) {
                    showToast("It seems you have selected no ticket. Please Select a ticket before trying to continue.")
                    //alert("It seems you have selected no ticket. Please Select a ticket before trying to continue.")
                } else {
                    location.href = ('/ticket/ticketView/' + selectedDataID);
                }
            }

            function showToast(text) {
                var x = document.getElementById("toast");
                x.classList.add("show");
                x.innerHTML = text;
                setTimeout(function () {
                    x.classList.remove("show");
                }, 3500);
            }

            window.onload = function () {
                defineTable()
            };
