link(href='https://unpkg.com/tabulator-tables@4.4.1/dist/css/tabulator.min.css' rel='stylesheet')
script(type='text/javascript' src='https://unpkg.com/tabulator-tables@4.4.1/dist/js/tabulator.min.js')
include Header/Header
    //link(rel='stylesheet', href = '/stylesheets/Marg.css')
    link(rel='stylesheet', href='/stylesheets/master.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    .registration-form
        .tableContainer
            .card-header
                h2 Past Inspections
            .card-body
                span
                    label.filter Field:
                    select#filter-field
                        option(value='ra1_clientID') RA1 Name
                        option(value='ra2_clientID') RA2 Name
                span(hidden)
                    label.filter Type:
                    select#filter-type
                        option(value='like') like
                        option(value='!=') not like
                span
                    label.filter Value:
                    input#filter-value(type='text' placeholder='value to filter')
                span.rightCorner
                    button(onclick = "changeView()" style='width: 50%; float: right') View
                #toast
                #tabularTable
                    //if(session.role === 'Admin' || session.role === 'Pro-Staff')
                        //button(onclick = "changeEdit()" style='background-color: #ddd69b; color:rgba(72,72,72,0.9); width:100%') Edit
                    //else
                    //button(onclick = "changeView()" style='background-color: #ddd69b; color:rgba(72,72,72,0.9); width:100%') View

    script.
        var selectedData, selectedDataID;
        function defineTable() {
            var backRoundColor;
            var json = JSON.parse("#{tabularTable}".replace(/&quot;/g, '"'));
            var table = new Tabulator("#TabularTable", {
                data: json,
                layout: "fitColumns",
                clipboard: true,
                clipboardPasteAction: "replace",
                persistentSort: true, // The layout of the table persists over the session
                selectable: true, //make rows selectable
                selectable: 1, //Sets the maximum rows selected to one before selecting another.
                pagination: "local",
                paginationSize: 10,
                paginationSizeSelector: [5, 10, 20, 50],//Pagination values for selection.
                columns: [
                    {title: "RA1", field: "ra1_clientID", formatter: "textarea"},
                    {title: "RA2", field: "ra2_clientID", formatter: "textarea"},
                    {title: "Date", field: "date", formatter: "textarea"},
                ],
                rowSelectionChanged: function (data, rows) {
                    //update selected row counter on selection change
                    $("#select-stats span").text(data.length);
                },
                rowSelected: function (row) {
                    backRoundColor = row.getElement().style.backgroundColor;
                    row.getElement().style.border = "2px solid black";
                    selectedData = table.getSelectedData(); //get array of currently selected data.
                    selectedDataID = selectedData[0].hsid;//gets the ticket ID
                },
                //Setting the border color back to normal after giving the user input that they have selected the row.
                rowDeselected: function (row) {
                    row.getElement().style.border = "";
                },
                rowDblClick: function (e, row) {
                    location.href = ('/inspection/rooms/' + selectedDataID);
                    //e - the click event object
                    //row - row component
                },
            });

            //Trigger setFilter function with correct parameters
            function updateFilter() {

                var filter = $("#filter-field").val() == "function" ? customFilter : $("#filter-field").val();

                if ($("#filter-field").val() == "function") {
                    $("#filter-type").prop("disabled", true);
                    $("#filter-value").prop("disabled", true);
                } else {
                    $("#filter-type").prop("disabled", false);
                    $("#filter-value").prop("disabled", false);
                }

                table.setFilter(filter, $("#filter-type").val(), $("#filter-value").val());
            }
            //Update filters on value change
            $("#filter-field, #filter-type").change(updateFilter);
            $("#filter-value").keyup(updateFilter);

            //Clear filters on "Clear Filters" button click
            $("#filter-clear").click(function () {
                $("#filter-field").val("");
                $("#filter-type").val("=");
                $("#filter-value").val("");

                table.clearFilter();
            });
        }

        // function changeEdit() {
        //     if (selectedDataID == null) {
        //         alert("It seems you have selected no ticket. Please Select a ticket before trying to continue.")
        //     } else {
        //         location.replace('/inspection/rooms/' + selectedDataID);
        //     }
        // }
        function changeView() {
            if (selectedDataID == null) {
                showToast("It seems you have selected no past inspection. Please select an inspection before trying to continue.")
            } else {
                location.replace('/inspection/rooms/' + selectedDataID);
            }
        }
        function showToast(text) {
            var x = document.getElementById("toast");
            x.classList.add("show");
            x.innerHTML = text;
            setTimeout(function () {
                x.classList.remove("show");
            }, 3500);
        }
        window.onload = function () {
            defineTable()
        };