include Header/Header
    .registration-form
        .tableContainer
            .card-header
                h2 Writes Up
            .card-body
                span
                    label.filter Field:
                    select#filter-field
                        option(value='category') Category
                        option(value='problem') Problem
                span(hidden)
                    label.filter Type:
                    select#filter-type
                        option(value='like') like
                        option(value='!=') not like
                span
                    label.filter Value:
                    input#filter-value(type='text' placeholder='value to filter')
                span.rightCorner
                    button(onclick= 'javascript:history.back()' style='width: 50%; float: right') Back to Rooms
                #TabularTable
    script.
        var selectedData, selectedDataID;
        function defineTable() {
            var json = JSON.parse("#{tabularTable}".replace(/&quot;/g, '"'));
            var table = new Tabulator("#TabularTable", {
                data: json,
                layout: "fitColumns",
                clipboard: true,
                clipboardPasteAction: "replace",
                persistentSort: true, //The layout of the table persists over the session
                pagination: "local",
                paginationSize: 10,
                paginationSizeSelector: [5, 10, 20, 50],//Pagination values for selection.
                columns: [
                    {title: "Category", field: "category", formatter: "textarea"},
                    {title: "Problem", field: "problem", formatter: "textarea"},
                ],
            });
            //Trigger setFilter function with correct parameters
            function updateFilter() {

                var filter = $("#filter-field").val() == "function" ? customFilter : $("#filter-field").val();

                if ($("#filter-field").val() == "function") {
                    $("#filter-type").prop("disabled", true);
                    $("#filter-value").prop("disabled", true);
                } else {
                    $("#filter-type").prop("disabled", false);
                    $("#filter-value").prop("disabled", false);
                }

                table.setFilter(filter, $("#filter-type").val(), $("#filter-value").val());
            }

            //Update filters on value change
            $("#filter-field, #filter-type").change(updateFilter);
            $("#filter-value").keyup(updateFilter);

            //Clear filters on "Clear Filters" button click
            $("#filter-clear").click(function () {
                $("#filter-field").val("");
                $("#filter-type").val("=");
                $("#filter-value").val("");

                table.clearFilter();
            });
        }
        window.onload = function () {
            defineTable()
        };
