html {
    justify-content: center;
    background-image: url(housing1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.space{
    padding-top: 20px;
}
.fullwidth{
    width:100%;
}
.registration-form {
    text-align: center;
}


.m{
    background-color: rgba(255, 255, 255, 0.0)
}

.wrapper {
    display: inline-block;


    max-height: 200px;
    max-width:  500px;

    width: 50%;

    margin-top: 10px;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 4px;

}

.chart_div {
    width: 30vw;
    height: 30vh;
}