/*####################### All css in one file###########################*/
.bigOvalbutton {
    background-color: #006633;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1vw;
    border: none;
    color: white;
    margin: auto;
    box-shadow: 2px 3px 2px black;
    text-shadow: 1px 2px 5px #696969;
    text-decoration:none;
    width: 75%;
    display: block;
    cursor: pointer;
}

.bigOvalbutton:hover{
    box-shadow: 1px 1px 1px black;
    text-shadow: 1px 1px 1px black;
    text-decoration:none;
    color: white;
}

html {
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body{
    background-color: transparent;
    border: 9px solid #006633;
}

.loginContainer {
    background-color: ivory;
    padding: 30px 10px;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 20%;
    height: auto;
    border: 5px solid #006633;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
    display: inline-block;

}
.masterContainer {
    background-color: palegoldenrod;
    padding: 30px 10px;
    text-align: center;
    position: inherit;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 15%;
    margin-right: auto;
    margin-bottom: 10%;
    border: 1px solid #006633;
    border-radius: 10px;
    box-shadow: 2px 2px 4px;
    display: inline-block;
    width: 70%;

}
.h3Text{
    font-size: 2vw;
    color: #006633;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 5%;
}
/*########################## css from marg.css ###############################3*/

html {
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

label{
    /*margin: 0;*/
    color: black;
}

.registration-form {
    text-align: center;
}
.registration-form2 {
    padding: 5px 0;
    text-align: center;
}
.registration-form3 {
    padding: 5px 0;
    text-align: left;
}
.registration-form form {
    background-color: palegoldenrod;
    padding: 10px 30px;
    border: 5px solid #006633;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
    display: inline-block;
    width: 45%;
    color: black;
}
.registration-form2 form {
    background-color:palegoldenrod;
    padding: 20px 70px;
    border: 5px solid #006633;
    border-radius: 10px;
    box-shadow: 4px 4px 15px black;
    display: inline-block;
    width:95%;

}
.registration-form3 form {
    background-color:#006633;
    padding: 20px 70px;
    border: 1px solid gold;
    border-radius: 10px;
    box-shadow: 4px 4px 15px black;
    display: inline-block;
    width:95%;

}
.update-text {
    color: ivory;
}
.registration-form form h3 {
    margin-bottom: 30px;
    text-shadow:1px 1px 1px #000000;
}
.registration-form form h2 {
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow:1px 1px 1px #000000
}
.registration-form2 form h2 {
    color: #006633;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow:1px 1px 1px #000000
   }
.registration-form form h7 {
    /*font-weight: bold;*/
    margin-bottom: 30px;

}
.registration-form .item {
    border-radius: 10px;
    margin-bottom: 25px;
    /*width: 35%;*/
}

.registration-form .create-account {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #3f93ff;
    border: none;
    color: white;
    margin-top: 20px;
    text-shadow:1px 1px 1px #000000;
}

.center {
    alignment: center;
}

/* Style the form - display items horizontally */
.form-inline {
    alignment: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

}

/* Add some margins for each label */
.form-inline label {
    border-radius: 10px;
    margin-bottom: 30px;
    padding:  5px 25px 20px 25px;
    text-shadow: 1px 1px 1px black;
}

/* Style the input fields */
.form-inline input {
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    align-items: center;
}

h3.text-center{
    color:#006633;
    text-shadow: 1px 1px 2px black;
}

.col-form-label{
    color: black;
    text-align: justify;
}

input.form-control.datetimepicker-input{
    background-color: ivory;
    box-shadow: 0px 2px 2px #000000;
}

.input-group-append{
    box-shadow: 2px 2px 2px #000000;
}

textarea.form-control{
    background-color: ivory;
    height: 65px;
    box-shadow: 1px 1px 2px #000000;
}

label.tgl-btn{
    width: 50%;
}

label{
    padding-bottom: 20px;
}


.bigOvalbutton1 {
    background-color: grey;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1vw;
    border: none;
    color: white;
    margin-top: 2%;
    margin-right: 15%;
    box-shadow: 2px 3px 2px black;
    text-align: center;
    text-shadow: 1px 2px 5px #696969;
    text-decoration:none;
    width: 25%;
    display: inline;
}

.bigOvalbutton1:hover{
    box-shadow: 1px 1px 1px black;
    text-shadow: 1px 2px 5px black;
    text-decoration:none;
    color: white;
    cursor: pointer;
}

.bigOvalbutton2 {
    margin-right: 5px;
    background-color: #006633;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1vw;
    border: none;
    color: white;
    box-shadow: 2px 3px 2px black;
    text-align: center;
    text-shadow: 1px 2px 5px #696969;
    text-decoration:none;
    width: 25%;
    display: inline;
}

.bigOvalbutton2:hover{
    box-shadow: 1px 1px 1px black;
    text-shadow: 1px 2px 5px black;
    text-decoration:none;
    color: white;
    cursor: pointer;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-inline input {
        vertical-align: middle;
        background-color: ivory;
        border: 1px solid #ddd;
        border-radius: 10px;
        align-items: center;
        padding: 10px 10px;
    }

    form-inline label {
        border-radius: 10px;
        margin-bottom: 30px;
        padding:  5px 25px 20px 25px;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}

.form-inline {
    flex-direction: column;
    align-items: stretch;
}

.tgl {
    display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
    align-items: center;

}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
}
.tgl + .tgl-btn {
    outline: 0;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.tgl + .tgl-btn:after {
    left: 0;
}
.tgl + .tgl-btn:before {
    display: none;
}
.tgl:checked + .tgl-btn:after {
    left: 50%;
}

.tgl-light + .tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
}
.tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all .2s ease;
}
.tgl-light:checked + .tgl-btn {
    background: #9FD6AE;
}

.tgl-ios + .tgl-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
    border: 1px solid #e8eae9;
}
.tgl-ios + .tgl-btn:after {
    border-radius: 2em;
    background: #fbfbfb;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.tgl-ios + .tgl-btn:hover:after {
    will-change: padding;
}
.tgl-ios + .tgl-btn:active {
    box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
    padding-right: .8em;
}
.tgl-ios:checked + .tgl-btn {
    background: #86d993;
}
.tgl-ios:checked + .tgl-btn:active {
    box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
    margin-left: -.8em;
}

.tgl-skewed + .tgl-btn {
    overflow: hidden;
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .2s ease;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px black;
    background: red;
    box-shadow: 2px 2px 4px black;
}
.tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
    display: inline-block;
    transition: all .2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.0);
}
.tgl-skewed + .tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on);
}
.tgl-skewed + .tgl-btn:before {
    left: 0;
    content: attr(data-tg-off);
}
.tgl-skewed + .tgl-btn:active {
    background: #888;
}
.tgl-skewed + .tgl-btn:active:before {
    left: -10%;
}
.tgl-skewed:checked + .tgl-btn {
    background: #2c814d;

}
.tgl-skewed:checked + .tgl-btn:before {
    left: -100%;
}
.tgl-skewed:checked + .tgl-btn:after {
    left: 0;
}
.tgl-skewed:checked + .tgl-btn:active:after {
    left: 10%;
}

.tgl-flat + .tgl-btn {
    padding: 2px;
    transition: all .2s ease;
    background: #fff;
    border: 4px solid #f2f2f2;
    border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
    transition: all .2s ease;
    background: #f2f2f2;
    content: "";
    border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
    border: 4px solid #7FC6A6;
}
.tgl-flat:checked + .tgl-btn:after {
    left: 50%;
    background: #7FC6A6;
}

.tgl-flip + .tgl-btn {
    padding: 2px;
    transition: all .2s ease;
    font-family: sans-serif;
    -webkit-perspective: 100px;
    perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
    display: inline-block;
    transition: all .4s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
    content: attr(data-tg-on);
    background: #02C66F;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
    background: #FF3A19;
    content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
    -webkit-transform: rotateY(-20deg);
    transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    left: 0;
    background: #7FC6A6;
}
.tgl-flip:checked + .tgl-btn:active:after {
    -webkit-transform: rotateY(20deg);
    transform: rotateY(20deg);
}

.inputfile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
/*############################## Header.css ###############################*/
.dropdown-item.active, .dropdown-item:active {
    text-decoration: none;
    background-color: #007bff;
}
html {
    justify-content: center;
    background-image: url(/public/Images/housing1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
a.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: gold;

}

.dropdown{
    text-shadow:1px 1px 1px #000000
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    color: rgba(72,72,72,0.0);
}

a{
    color: rgba(72,72,72,0.0);
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a.dropdown-item{
    background-color: #2c814d;
    color: ivory;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: rgba(72,72,72,0.9);
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.0);
    border-radius: .25rem;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

}



.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: -9px 1rem 0.5rem 1rem;
    /*margin-top: 9px;*/
    margin-bottom: 0;
    list-style: none;

}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body.container-fluid{
    padding-right: 0px;
    padding-left: 0px;

}

form {
    color: ivory;
    background-color: ivory;
}

label.filter{
    margin: 5px;
}

a.nav-link{
    padding: 0rem 1rem;
}

.table td{
    max-width: 1rem;
}
.table-bordered td, .table-bordered th{
    border:1px solid #9ea49a;
}
.caret::after{
    color: gold;
}
/*This is for the custom toasts to work. Please keep all three*/
#toast{
    position:fixed;
    top:0;
    left:50%;
    transform:translate(-50%);
    background-color:#000;
    color:#fff;
    padding:16px;
    border-radius:4px;
    text-align:center;
    z-index:1;
    box-shadow:0 0 20px rgba(0,0,0,0.3);
    visibility:hidden;
    opacity:0;
}
#toast.show{
    visibility:visible;
    animation:fadeInOut 4s;
}
@keyframes fadeInOut{
    5%,95%{opacity:1;top:50px}
    15%,85%{opacity:1;top:30px}
}
.tableContainer{
    background-color: palegoldenrod;
    padding: 30px 10px;
    text-align: center;
    position: inherit;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #006633;
    border-radius: 10px;
    box-shadow: 4px 4px 15px;
    display: inline-block;
    width: 90vw;
}

.rightCorner{
    float: right;
    width: 30%;
}

.form-control{
    background-color: ivory;
    box-shadow: 1px 1px 2px #000000;'
}

.form-control.item{
    background-color: ivory;
    box-shadow: 1px 1px 2px #000000;'
}

.text-left{
    color: black;
}