html(style='background-image:url("/Images/housing1.jpg");background-color:#a9a9a9;')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
        title SLU Housing
        link(rel='stylesheet', href='/stylesheets/master.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
        script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')

    body.container-fluid(style='background-color: rgba(255,255,255,0);')
        nav.navbar.navbar-light.navbar-expand-md.navigation-clean(style='background-color: #bcc1b2;')
            a.navbar-brand(href='/', style= 'color: rgba(72,72,72,0.9)') SLU Housing
            button.navbar-toggler(data-toggle='collapse', data-target='#navcol-1')
                span.sr-only Toggle navigation
                span.navbar-toggler-icon
            #navcol-1.collapse.navbar-collapse
                ul.nav.navbar-nav.ml-auto
                    p THIS WORKS
                    li.dropdown
                        a.dropdown-toggle.nav-link.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', href='#') Welcome #{session.user}
                        .dropdown-menu(role='menu')
                            a.dropdown-item(role='presentation', href='/users/view/' + session.name, style= 'color: rgba(72,72,72,0.1)') Account Details
                            a.dropdown-item(role='presentation', href='/logout', style= 'color: rgba(72,72,72,0.1)') Log Out
    block#content-wrapper.container-fluid
        div.container-fluid
