html(style='background-image:url("/Images/housing1.jpg");background-color:#a9a9a9;')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
        title Housing Hub
        link(rel='stylesheet', href='/stylesheets/master.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
        script(src='https://cdn.jsdelivr.net/npm/alasql@0.4')
        link(href='https://unpkg.com/tabulator-tables@4.4.1/dist/css/tabulator.min.css' rel='stylesheet')
        script(type='text/javascript' src='https://unpkg.com/tabulator-tables@4.4.1/dist/js/tabulator.min.js')
    body.container-fluid(style='background-color: rgba(255,255,255,0.1);')
        nav.navbar.navbar-light.navbar-expand-lg.navigation-clean(style='background-color: #006633;')
            a.navbar-brand(href='/')
                img(src='/Images/HOUSING_LOGO_WHITE.png', height='42.15', width='230.7')
            button.navbar-toggler(data-toggle='collapse', data-target='#navcol-1')
                span.sr-only Toggle navigation
                span.navbar-toggler-icon
            #navcol-1.collapse.navbar-collapse
                ul.nav.navbar-nav.ml-auto.caret
                    if(session.role === 'Admin' || session.role === 'Pro-Staff')
                        li.dropdown
                            a.dropdown-toggle.nav-link.dropdown-toggle.caret(data-toggle='dropdown', aria-expanded='false', href='#') <font color="ivory">Users</font>
                            .dropdown-menu(style='background-color:#2c814d', role='menu')
                                a.dropdown-item(role='presentation', href='/users') All Users
                                    a.dropdown-item(role='presentation', href='/users/RA') RAs
                                    a.dropdown-item(role='presentation', href='/users/ProStaff') Pro-Staff
                                    a.dropdown-item(role='presentation', href='/users/resident') Residents
                                    a.dropdown-item(role='presentation', href='/users/admin') Admins
                    li.dropdown
                        a.dropdown-toggle.nav-link.dropdown-toggle.caret(data-toggle='dropdown', aria-expanded='false', href='#') <font color="ivory">Tickets</font>
                        .dropdown-menu(style='background-color:#2c814d', role='menu')
                            a.dropdown-item(role='presentation', href='/ticket/ticketForm') Add Ticket
                            if(session.role === 'Facilities' || session.role === 'Admin' || session.role === 'Pro-Staff')
                                h6.dropdown-header(role='presentation') <font color="#e9c225">View</font>
                                .dropdown-divider(role='presentation', style='margin-top: -1px;margin-bottom: 4px;')
                                a.dropdown-item(role='presentation', href='/ticket/allTickets') All Tickets
                                a.dropdown-item(role='presentation', href='/ticket/category/Maintenance') Maintenance Tickets
                                a.dropdown-item(role='presentation', href='/ticket/category/Mold') Mold Tickets
                                a.dropdown-item(role='presentation', href='/ticket/category/Pest') Pest Tickets
                                a.dropdown-item(role='presentation', href='/ticket/category/Furniture') Furniture Tickets
                                //a.dropdown-item(role='presentation', href='/ticket/category/Cable') Cable Tickets
                                a.dropdown-item(role='presentation', href='/ticket/category/Internet') Internet/Cable Tickets

                    if(session.role === 'Resident Assistant' || session.role === 'Admin' || session.role === 'Pro-Staff')
                        li.dropdown
                            a.dropdown-toggle.nav-link.dropdown-toggle.caret(data-toggle='dropdown', aria-expanded='false', href='#') <font color="ivory">Health & Safety</font>
                            .dropdown-menu(style='background-color:#2c814d', role='menu')
                                    a.dropdown-item(role='presentation', href='/inspection') Conduct New Inspection
                                    if(session.role === 'Admin' || session.role === 'Pro-Staff')
                                            h6.dropdown-header(role='presentation') <font color="#e9c225">View</font>
                                            .dropdown-divider(role='presentation', style='margin-top: -1px;margin-bottom: 4px;')
                                            a.dropdown-item(role='presentation', href='/inspection/view/Ascension') Ascension
                                            a.dropdown-item(role='presentation', href='/inspection/view/Cardinal Newman') Cardinal Newman
                                            a.dropdown-item(role='presentation', href='/inspection/view/Greek Village') Greek Village
                                            a.dropdown-item(role='presentation', href='/inspection/view/Hammond') Hammond
                                            a.dropdown-item(role='presentation', href='/inspection/view/Livingston') Livingston
                                            a.dropdown-item(role='presentation', href='/inspection/view/Louisiana') Louisiana
                                            a.dropdown-item(role='presentation', href='/inspection/view/Pride') Pride
                                            a.dropdown-item(role='presentation', href='/inspection/view/Southeastern Oaks') Southeastern Oaks
                                            a.dropdown-item(role='presentation', href='/inspection/view/St. Tammany') St. Tammany
                                            a.dropdown-item(role='presentation', href='/inspection/view/Tangipahoa') Tangipahoa
                                            a.dropdown-item(role='presentation', href='/inspection/view/Taylor') Taylor
                                            a.dropdown-item(role='presentation', href='/inspection/view/Twelve Oaks') Twelve Oaks
                                            a.dropdown-item(role='presentation', href='/inspection/view/Village M') Village M
                                            a.dropdown-item(role='presentation', href='/inspection/view/Washington') Washington
                    if(session.role === 'Resident Assistant' || session.role === 'Pro-Staff' || session.role === 'Admin')
                        li.dropdown
                            a.dropdown-toggle.nav-link.dropdown-toggle.caret(data-toggle='dropdown', aria-expanded='false', href='#') <font color="ivory">Engagement Round</font>
                            .dropdown-menu(style='background-color:#2c814d', role='menu')
                                a.dropdown-item(role='presentation', href='/engagement/create') Conduct Engagement Round
                                //Needs to be made on the backend. Basically new location and a new pug file for it and it should work.
                                //a.dropdown-item(role='presentation', href='/engagement/') View All Past Rounds
                                if(session.role === 'Admin' || session.role === 'Pro-Staff')
                                    h6.dropdown-header(role='presentation') <font color="#e9c225">View</font>
                                    .dropdown-divider(role='presentation', style='margin-top: -1px;margin-bottom: 4px;')
                                    a.dropdown-item(role='presentation', href='/engagement/viewList/Ascension') Ascension
                                    a.dropdown-item(role='presentation', href='/engagement/viewList/Cardinal Newman') Cardinal Newman
                                    a.dropdown-item(role='presentation', href='/engagement/viewList/Greek Village') Greek Village
                                    a.dropdown-item(role='presentation', href='/engagement/viewList/Hammond') Hammond
                                    a.dropdown-item(role='presentation', href='/engagement/viewList/Livingston') Livingston
                                    a.dropdown-item(role='presentation', href='/engagement/viewList/Louisiana') Louisiana
                                    a.dropdown-item(role='presentation', href='/engagement/viewList/Pride') Pride
                                    a.dropdown-item(role='presentation', href='/engagement/viewList/Southeastern Oaks') Southeastern Oaks
                                    a.dropdown-item(role='presentation', href='/engagement/viewList/St. Tammany') St. Tammany
                                    a.dropdown-item(role='presentation', href='/engagement/viewList/Tangipahoa') Tangipahoa
                                    a.dropdown-item(role='presentation', href='/engagement/viewList/Taylor') Taylor
                                    a.dropdown-item(role='presentation', href='/engagement/viewList/Twelve Oaks') Twelve Oaks
                                    a.dropdown-item(role='presentation', href='/engagement/viewList/Village M') Village M
                                    a.dropdown-item(role='presentation', href='/engagement/viewList/Washington') Washington
                    li.dropdown
                        a.dropdown-toggle.nav-link.dropdown-toggle.caret(data-toggle='dropdown', aria-expanded='false', href='#') <font color="ivory">Welcome #{session.user}</font>
                        .dropdown-menu(style='background-color:#2c814d', role='menu')
                            a.dropdown-item(role='presentation', href='/logout') Log Out
                            if (session.role === 'Admin')
                                a.dropdown-item(role='presentation', href='/settings') Global Settings
        block#content-wrapper.container-fluid
            div.container-fluid.center
