include ../Header/Header
    link(rel='stylesheet', href='/stylesheets/master.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')

    .registration-form
        form(action='/Users/Edit/'+ClientID, method='POST')
            h3.text-center #{title}
            .form-group
                .form-row
                    .col-xl-2
                        label.col-form-label First Name:
                    .col-xl-4
                        input.form-control.item(type='input', name='fname', disabled=disabled ,placeholder='First Name', value=fname)
                    .col-xl-2
                        label.col-form-label Last Name:
                    .col-xl-4
                        input.form-control.item(type='input',name='lname', disabled=disabled ,placeholder='Last Name', value=lname)
            .form-group
                .form-row
                    .col-xl-2
                        label.col-form-label Email:
                    .col-xl-4
                        input.form-control.item(type='input',name='email', disabled=disabled ,placeholder='Email', value=Email)
                    .col-xl-2
                        label.control-label Role:
                    .col-xl-4
                        select#role.form-control.item(name='role', disabled=disabled)
                            each r in AllRoles
                                option(selected = (role == r)) #{r}
            .form-group
                button.bigOvalbutton1(href='javascript:history.back()') Go Back
                button.bigOvalbutton2(type='submit', hidden=disabled) Submit


