link(href='https://unpkg.com/tabulator-tables@4.4.1/dist/css/tabulator.min.css' rel='stylesheet')
script(type='text/javascript' src='https://unpkg.com/tabulator-tables@4.4.1/dist/js/tabulator.min.js')
include ../Header/Header
    .registration-form
        .tableContainer
            .card-header
                h2 Users
            .card-body
                #toast
                span
                    label.filter Field:
                    select#filter-field
                        option(value='fname') First Name
                        option(value='lname') Last Name
                span(hidden)
                    label.filter Type:
                    select#filter-type
                        option(value='like') like
                        option(value='!=') not like
                span
                    label.filter Value:
                    input#filter-value(type='text' placeholder='value to filter')

                if(session.role === 'Admin' || session.role === 'Pro-Staff')
                    span.rightCorner
                        button(onclick = "changeEdit()" style='width: 50%; float: right') Edit
                    #TabularTable
                else
                    script.
                        showToast("Oops looks like something went wrong, this feature may not be working right now.");
                //    span.rightCorner
                //        button(onclick = "changeView()" style='width: 50%; float: right') View
                //    #TabularTable2 //Please see other table for more info.
    script.
        var selectedData, selectedDataID;
        function defineTable() {
            var backRoundColor;
            var json = JSON.parse("#{tabularTable}".replace(/&quot;/g, '"'));
            //Edit table
            var table = new Tabulator("#TabularTable", {
                data: json,
                layout: "fitColumns",
                clipboard: true,
                clipboardPasteAction: "replace",
                persistentSort: true, // sorting persists over the session
                selectable: true, //make rows selectable
                selectable: 1, //Sets the maximum rows selected to one before selecting another.
                pagination: "local",
                paginationSize: 20,
                paginationSizeSelector: [5, 10, 20, 50, 100],//Pagination values for selection.
                columns: [
                    {title: "First Name", field: "fname", formatter: "textarea"},
                    {title: "Last Name", field: "lname", formatter: "textarea"}
                ],
                rowSelectionChanged: function (data, rows) {
                    //update selected row counter on selection change
                    $("#select-stats span").text(data.length);
                },
                rowSelected: function (row) {
                    backRoundColor = row.getElement().style.backgroundColor;
                    row.getElement().style.border = "2px solid black";
                    selectedData = table.getSelectedData(); //get array of currently selected data.
                    selectedDataID = selectedData[0].clientID;//gets the ticket ID
                },
                //Setting the border color back to normal after giving the user input that they have selected the row.
                rowDeselected: function (row) {
                    row.getElement().style.border = "";
                },
                rowDblClick: function (e, row) {
                    location.href = ('/Users/Edit/' + selectedDataID);
                    //e - the click event object
                    //row - row component
                },
            });

            //Needs to be fixed before using. Look into compiling the correct table in the backend so you only need one table.
            //Used for people that don't have editing privileges

            // var table = new Tabulator("#TabularTable2", {
            //     data: json,
            //     layout: "fitColumns",
            //     //textSize: 24, //Doesn't work here, may need to be done in css. Documentation says something about SASS. http://tabulator.info/docs/4.4/style
            //     //Can copy and paste data from the column
            //     clipboard: true,
            //     clipboardPasteAction: "replace",
            //     //The layout of the table persists over the session
            //     // persistentLayout: true, //I don't think it will work when you resize the window. May remove later
            //     persistentSort: true, // I like this, lets you go to a different page and come back
            //
            //     selectable: true, //make rows selectable
            //     selectable: 1, //Sets the maximum rows selected to one before selecting another.
            //
            //     columns: [
            //         {title: "First Name", field: "fname", formatter: "textarea"},
            //         {title: "Last Name", field: "lname", formatter: "textarea"}
            //     ],
            //     rowSelectionChanged: function (data, rows) {
            //         //update selected row counter on selection change
            //         $("#select-stats span").text(data.length);
            //     },
            //     pagination: "local",
            //     paginationSize: 20,
            //     paginationSizeSelector: [5, 10, 20, 50, 100],//Pagination values for selection.
            //
            //     rowSelected: function (row) {
            //         backRoundColor = row.getElement().style.backgroundColor;
            //         row.getElement().style.backgroundColor = "#DAA520";
            //         selectedData = table.getSelectedData(); //get array of currently selected data.
            //         selectedDataID = selectedData[0].clientID;//gets the clients ID
            //     },
            //     //Setting the background color back to normal after giving user input that they have selected the row.
            //     rowDeselected: function (row) {
            //         row.getElement().style.backgroundColor = backRoundColor;
            //     },
            //     rowDblClick: function (e, row) {
            //         location.href = ('/Users/View/' + selectedDataID);
            //         //e - the click event object
            //         //row - row component
            //     },
            // });

            //Trigger setFilter function with correct parameters
            function updateFilter() {

                var filter = $("#filter-field").val() == "function" ? customFilter : $("#filter-field").val();

                if ($("#filter-field").val() == "function") {
                    $("#filter-type").prop("disabled", true);
                    $("#filter-value").prop("disabled", true);
                } else {
                    $("#filter-type").prop("disabled", false);
                    $("#filter-value").prop("disabled", false);
                }

                table.setFilter(filter, $("#filter-type").val(), $("#filter-value").val());
            }

            //Update filters on value change
            $("#filter-field, #filter-type").change(updateFilter);
            $("#filter-value").keyup(updateFilter);

        }

        function changeEdit() {
            if (selectedDataID == null) {
                showToast("It seems you have selected no User. Please Select a User before trying to continue.")
                //alert("It seems you have selected no User. Please Select a User before trying to continue.")
            } else {
                location.href = ('/Users/Edit/' + selectedDataID);
            }
        }

        function changeView() {
            if (selectedDataID == null) {
                showToast("It seems you have selected no User. Please Select a User before trying to continue.")
                //alert("It seems you have selected no User. Please Select a User before trying to continue.")
            } else {
                location.href = ('Users/View/' + selectedDataID);
            }
        }

        function showToast(text) {
            var x = document.getElementById("toast");
            x.classList.add("show");
            x.innerHTML = text;
            setTimeout(function () {
                x.classList.remove("show");
            }, 4500);
        }

        window.onload = function () {
            defineTable()
        };